
    <div class="container-fluid pt-5">
        <%= link_to "Go Back", superheroes_path, class: "btn border-inner py-3 px-5 me-5" %>
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h1 class="display-4 text-uppercase"> <%= @superhero.name %></h1>
                     <% if @superhero.categories.any? %>
                        <% @superhero.categories.each do |category| %>
                        <h4 class="text-center"><strong> <%= category.name %> </strong> </h4>
                        <% end %>
                    <% end %>
                         <% if @superhero.universes.any? %>
                        <% @superhero.universes.each do |universe| %>
                        <h4 class="text-center"><strong> <%= universe.name %> </strong> </h4>
                        <% end %>
                    <% end %>
            
                  
            </div>
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <%= image_tag @superhero.image, class: "img-fluid" %>
                           <% if logged_in? %>
                                <%= link_to "Edit", edit_superhero_path(@superhero), class: "btn btn-primary changes-button" %>
                                <%= link_to "Delete", superhero_path(@superhero), class: "btn btn-primary changes-button ", method: :delete, data: {confirm: "Are you sure?"} %>
                            <% end %>
                    </div>
                </div>
                <div class="col-lg-6">
                        <h4 class="mb-4">Full Name: <%= @superhero.full_name %> </h4>
                        <h4 class="mb-4">Place of Birth: <%= @superhero.place_of_birth %> </h4>
                        <h4 class="mb-4">Gender: <%= @superhero.gender %> </h4>
                        <h4 class="mb-4">Height: <%= @superhero.height %> </h4>
                        <h4 class="mb-4">Weight: <%= @superhero.weight %> </h4>
                   
                        <div class="progress">
                            <div class="progress-bar bg-danger" style="width: <%= @superhero.power %>%;"></div>
                        </div>
                        <h3>Power</h3>
                        <div class="progress">
                            <div class="progress-bar bg-danger" style="width: <%= @superhero.speed %>%;"></div>
                        </div>
                        <h3>Speed</h3>
                        <div class="progress">
                            <div class="progress-bar bg-danger" style="width: <%= @superhero.strength %>%;"></div>
                        </div>
                        <h3>Strength</h3>
                        <div class="progress">
                            <div class="progress-bar bg-danger" style="width: <%= @superhero.intelligence %>%;"></div>
                        </div>
                        <h3>Intelligence</h3>
                    </div>
            
                </div>
            </div>
        </div>
    </div>
